body{
    display:flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#centerDiv{
    display:grid;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.306);
    height: 300px;

}

#profilePicDiv{
    margin-left: auto;
    margin-right: 20px;
    width: 100px;
    height: 100px;
}

#profilePicDiv img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
}



#buttonDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

